<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.editor.mapper.MemberMapper">
	<select id="login" resultType="member">
		select id, nick, color from member where id = #{id} and pw = #{pw}
	</select>

	
	<!-- mypage -->
	<select id="list" resultType="member">
		select * from member where nick = #{username}
	</select>
	
	<!-- email 중복 확인 -->
	<select id="duplicatedCheck" resultType="Integer">
		select count(*) from member where id = #{email}
	</select>
	
	<!-- nick 중복 확인 -->
	<select id="duplicatedNickCheck" resultType="Integer">
		select count(*) from member where nick = #{email}
	</select>

</mapper>